* {
  margin: 0;
  padding: 0;
}

.App {
  width: 700px;
  height: 700px;
  margin: 0 auto;
  background: rebeccapurple;

  /*  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
